<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbModelo" connectionString="data source=(local);initial catalog=dbRealPlazaGalarza;persist security info=True;user id=sa;password=Pass2015;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>