<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--add name="dbModelo" connectionString="data source=(local);initial catalog=dbRealPlazaGalarza;persist security info=True;user id=sa;password=Pass2015;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" / -->
    <add name="dbModelo" connectionString="data source=sql7002.site4now.net;initial catalog=DB_A4205F_PetLoverApp;persist security info=True;user id=DB_A4205F_PetLoverApp_admin;password=Pass2015;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>